[Desktop Entry]
Version=1.0
Name=Brave Origin - Work
GenericName=Web Browser
Comment=Access the Internet
StartupNotify=true
StartupWMClass=brave-origin
TryExec=brave
Exec=brave-origin --enable-features=WebRTCPipeWireCapturer --profile-directory="Profile 1" %U
Terminal=false
Icon=brave-origin
Type=Application
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=brave-origin

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=brave-origin --incognito
